::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: 'none'
}

::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--lightest-black); 

}