.gallery-container {
	height: 100%;
	transition-duration: 500ms;
}

.images-container {
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	height: 100%;
}

.gallery-item {
	scroll-snap-align: start;
	object-fit: cover;
	width: 100%;
	min-width: 100%;
}

.open {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	height: 100vh;
	transition-duration: 500ms;
}